<div  class="container">
  <table *ngIf="(tableData | async) as table">
    <tr>
      <td *ngFor="let name of table.headers; index as i">
        <button (click)="onHeaderClick($event, i)">{{name}}</button>
      </td>
    </tr>
    <tr *ngFor="let row of table.data">
      <td *ngFor="let item of row">{{item}}</td>
    </tr>
  </table>
</div>
