

table {
  tr {
    background-color: whitesmoke;
  }
  tr:nth-child(odd) {
    background-color: beige;

  }
  tr:hover {
    border-bottom: 1px solid aqua;
  }
  td {
    color: black;
    font-family: "Bitstream Vera Sans Mono";
    min-width: 30px;
    height: 14px;
    font-size: 12px;
    border-right: 1px solid white;
    padding-left: 3px;
    button {
      width: 100%;
      padding: 5px;
      border: none;
      font-size: 15px;
    }
  }
}
