.main-container {
  display: grid;
  grid-template-rows: 30px 100px auto auto;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 20px;
}


h2 {
  grid-row: 1;
  grid-column: 2 / 4;
  text-align: center;
  font-family: "DejaVu Sans";
}

@media only screen and (max-width: 700px){
  app-input {
    grid-row: 3;
    grid-column: 1/4;

  }
  app-output {
    grid-row: 4;
    grid-column: 1/4;
  }
}

  @media only screen and (min-width: 701px){
    app-input {
      grid-row: 3;
      grid-column: 2;
      margin: 20px;
      height: 500px;
    }
    app-output {
      margin: 20px;
      grid-row: 3;
      grid-column: 3;
      height: 500px;

    }
  }



