<div class="container">
  <label for="csv">Enter CSV file</label><br>
  <input id="csv" type="file" (change)="onFileSelect($event.target.files[0])">
  <button (click)='convert()'>Convert!</button>
  <div>
    <textarea name="csv" id="displayCSVData" cols="60" rows="20" >{{CSVFileContent}}</textarea>
  </div>
</div>


